.Compétences>div {
    padding-top: 70px;
}

.Compétences h2 {
    padding-bottom: 0;
}

/* Styles pour le conteneur d'enveloppe dans la section ".Compétences" */
.Compétences .wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin: auto auto;
}

/* Styles pour les cartes de compétences */
.card {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    cursor: default;
    margin: auto auto;
    margin-bottom: 0;
    
}

/* Styles pour le conteneur de la barre de progression circulaire */
.circle {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.box,
.box span {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.1s;
    user-select: none;
}

.box {
    height: 100%;
    width: 100%;

    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.box span {
    color: #2c2631;
    font-size: 30px;
    font-weight: 600;
    transform: translate(-45%, -50%);
}

.card .text {
    font-size: 20px;
    font-weight: 500;
}

/* Styles pour la barre de progression circulaire au survol */
.card .circle:hover .box {
    transform: translate(-50%, -50%) scale(1.09);
}

/*Style pour les soft-skills*/

.Compétences>.soft {
    margin-bottom: 0;
}

.langues,
.soft-skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.langues img,
.soft-skills img {
    width: 150px;
}

.langues div,
.soft-skills div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: auto auto;
    margin-top: 5%;
    padding: 0 2%;
    width: 350px;
}

.langues span,
.soft-skills span {
    margin-bottom: 10%;
    font-size: 1.5em;
    color: var(--primary-color);
    font-weight: 900;
}

/*Style pour les blocs de compétences*/

.switch-div{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.switch-div p{
    margin-right: 10px;
    font-size: 1.2em;
    color: var(--secondary-color);
    font-weight: 900;
}

#switch{
	height: 0;
	width: 0;
	visibility: hidden;
}

#switch-label {
	cursor: pointer;
	text-indent: -9999px;
	width: 90px;
	height: 50px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

#switch-label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 40px;
	transition: 0.3s;
}

#switch:checked + label {
	background: #7c5295;
}

#switch:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

#switch-label:active:after {
	width: 50px;
}

.bloc-comp {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin : 50px 0;
    border:#2c2631 1px solid;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 15px rgba(100, 58, 97, 0.2);
    padding-top: 15px;
}

.bloc-comp p{
    color:var(--primary-color);
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    padding: 0 5%;
}

.languette{
    width: 350px;
    height: 0;
    transition: height 0.3s ease-in-out;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.languette p{
    color:var(--background-color);
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    padding: 0 5%;
}

.languette ul{
    margin-top: 10px;
}

.languette a{
    text-decoration: underline;
    color:var(--background-color);
}

.bloc-comp:hover .languette{
    height: 100%;
    transition: height 0.3s ease-in-out;
}

.active .languette{
    height: 100%!important;
    transition: height 0.3s ease-in-out;
}

.academique-wrapper{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.soft-skills img{
    width: 200px;
    border: var(--primary-color) 2px solid;
    border-radius: 50%;
    padding : 20px;
    background-color: rgba(255, 255, 255, 0.4);
}

.soft-desc{
    color:var(--background-color);
    margin-top: 20px;
    text-align: center; 
    font-size: 1.1em;   
}

.langage-container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    width:160px;
}

.note{
    color:var(--background-color);
    font-size: 1.1em;
    margin : 10px 0;
}

.icon{
    width: 30px;
    margin-right: 10px;
}

.icon img{
    width: 100%;
}

.logo-logiciel{
    height:70px;
    margin: 10px;
}

.logiciels-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    border: var(--primary-color) 2px solid;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(100, 58, 97, 0.4);
}

.logiciel-container{
    width:150px;
}

.logiciels-container a{
    text-decoration: none;
    color: var(--background-color);
}

.logiciels-container a:hover{
    color: var(--primary-color);
}

@media (max-width:900px) {
    .academique-wrapper{
        justify-content: center;
    }
}

@media (max-width:664px) {
    .card {
        margin-bottom: 5%;
    }

}