.Projets h3{
    padding: 5% 0;
    text-align: center;
    font-size: 1.5em;
}

.projet{
    padding: 0 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Projets .image{
    display: block;
    width: 400px;
    height: 300px;
    overflow: hidden;
}

.projet>div{
    display: flex;
    flex-direction: column;
    margin: auto 10px;
    margin-bottom: 5%;
}

.projet .image{
    position: relative;

}

.Projets .contenu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    color:#FFE5EC;
    display: flex;
    align-items:center;
    justify-content: center;
    opacity: 0;
}

.contenu p{
    padding: 0 10%;
    text-align: center;
    transform: translateY(30px);
    font-size: 1.1em;
}

.contenu:hover,
.contenu:hover p{
    opacity: 1;
    transform: translateY(0);
    transition: 0.3s;
}

.Projets button{
    display: block;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #957dad;
    background-color: #FFE5EC;
}

.align-button{
    display:flex;
    justify-content: center;
}

.Grenade div{
    background: url(../img/Grenade.png)no-repeat;
    background-position: center;
    background-size:cover;
    margin:auto auto
}

.BatailleBoules div{
    background: url(../img/BatailleBoules.png)no-repeat;
    background-position: center;
    background-size: cover;
    margin:auto auto

}

.Ski div{
    background: url(../img/Ski.png)no-repeat;
    background-position: center;
    background-size: cover;
}

.Bricololo div{
    background: url(../img/Bricololo.png)no-repeat;
    background-position: center;
    background-size: cover;
}

.Backpack div{
    background: url(../img/Backpack.png)no-repeat;
    background-position: center;
    background-size: cover;
}

.Graphes div{
    background: url(../img/Graphes.png)no-repeat;
    background-position: center;
    background-size: cover;
    margin:auto auto
}

@media (max-width:986px) {
    .projet{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    .Projets .image{
        width: 60vw;
        height: 50vw;
    }
    .projet div{
        text-align: center;
        margin-bottom: 5%;
    }

}

