.Parcours{
    background-color: #2c2631;
}

.Parcours h2{
    text-align: center;
}

/* Styles pour la frise chronologique */
.frise {
    margin: auto auto;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    padding-bottom: 5%;
  }
  
  .frise ol {
    font-size: 0;
    width: 100vw;
    padding: 250px 0;
    transition: all 1s;
  }

  .frise ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 160px;
    height: 3px;    
    background: #fff;
  }

  .frise ol li:last-child {
    width: 50%; /* Réduire la largeur du dernier événement pour créer une section finale */
  }

  .frise ol li:not(:first-child) {
    margin-left: 14px; /* Ajouter un espacement horizontal entre les événements */
  }

  .frise ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);/* Positionner à droite de l'élément li */
    bottom: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);/* Centrer verticalement */
    border-radius: 50%;
    background: pink;
  }

  .frise ol li div {
    position: absolute;
    left: calc(100% + 7px);/* Positionner à droite de l'élément li */
    width: 280px;
    padding: 15px;
    font-size: 1rem;
    white-space: normal;
    color: black;
    background: white;
  }
  .frise ol li div::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
  }

  .frise ol li:nth-child(odd) div {
    top: -16px;/* Positionner au-dessus de la ligne de la frise */
    transform: translateY(-100%);/* Déplacer vers le haut */
  }
  .frise ol li:nth-child(odd) div::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: white transparent transparent transparent;
  }

  .frise ol li:nth-child(even) div {
    top: calc(100% + 16px);
  }
  .frise ol li:nth-child(even) div::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent white;
  }

  @media screen and (max-width: 1200px) {
    /* Styles pour les écrans de petite taille / écrans mobile */
    .frise ol,
    .frise ol li {
      width: auto; 
    }
    
    .frise ol {
      padding: 0;
      transform: none;
    }
    
    .frise ol li {
      display: block;
      height: auto;
      background: transparent;
    }
    
    .frise ol li:first-child {
      margin-top: 25px;
    }
    
    .frise ol li:not(:first-child) {
      margin-left: auto;
    }
    
    .frise ol li div {
      width: 94%;
      height: auto;
      margin: 0 auto 25px;
    }
    
    .frise ol li div {
      position: static;
    }
    
    .frise ol li:nth-child(odd) div {
      transform: none;
    }
    
    .frise ol li:nth-child(odd) div::before,
    .frise ol li:nth-child(even) div::before {
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      border: none;
      border-left: 1px solid white;
      height: 25px;
    }
    
    .frise ol li:last-child,
    .frise ol li:nth-last-child(2) div::before,
    .frise ol li:not(:last-child)::after{
      display: none;
    }
  }