/* Définition des polices personnalisées */
@font-face {
    font-family: 'Merry';
    src: url(font/Merriweather_Sans/MerriweatherSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Urdu";
    src: url(font/Noto_Nastaliq_Urdu/NotoNastaliqUrdu-VariableFont_wght.ttf);
}

/* Styles généraux pour le document HTML */
html {
    scroll-behavior: smooth; /* Défilement fluide */
}

/* Styles pour la section "home" */
.home {
    position: relative;
    min-height: 100vh;
    background: url(img/accueil.jpg)no-repeat; /* Image d'arrière-plan */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    column-gap: 10%;
    justify-content: center;
    align-items: center;
}

.home h1 {
    color: #dbd6ff;
    background-color: rgba(40, 24, 78, 0.6);
    font-size: 3em;
    padding: 40px 20px;
    border: 1px solid #dbd6ff;
    border-radius: 10px;
    margin: 40px;
    text-align: center;
}

.home p {
    color: #dbd6ff;
    text-shadow: 2px 2px 1px rgba(40, 24, 78);
    font-size: 1.5em;
    text-align: center;
}

.home button {
    position: absolute;
    bottom: 10%;
    border: none;
    background-color: transparent;
}

.home button img {
    width: 60px;
    height: 60px;
}

/* Styles pour les sections "Compétences", "Contact" et "Projets" */
.Compétences,
.Contact,
.Projets {
    padding: 2% 5% 5%;
    background-color: rgb(218, 211, 219);
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.Compétences h2,
.Contact h2,
.Projets h2 {
    color: #2c2631;
    text-align: center;
    padding-right: 1%;
}

h2 {
    color: #FFE5EC;
    font-size: 3em;
    text-decoration: underline;
    padding: 5% 0;
    padding-right: 1%;
    font-family: Merry; 
}

h3 {
    font-family: Merry; 
}

button {
    display: block;
    margin: auto auto;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #957dad;
    background-color: #FFE5EC;
}

button>a {
    font-size: 1.7em;
    text-decoration: none;
    font-weight: 900;
    color: #957dad !important;
}

/* Animation de révélation */
.reveal {
    opacity: 0;
    transform: translateY(-30px);
}

.visible {
    opacity: 1;
    transform: translateY(0);
    transition: .5s ease-out;
}

/* Zoom au survol */
.zoom {
    transition: transform .1s;
}

.zoom:hover {
    -ms-transform: scale(1.3); 
    -webkit-transform: scale(1.3); 
    transform: scale(1.3);
}

/* Media queries pour la mise en page responsive */
@media (max-width:1060px) {
    .about {
        flex-wrap: wrap;
    }

    .about img {
        margin: auto auto;
        margin-top: 2%;
    }

    .about p {
        text-align: center;
    }
}

@media(max-width:430px) {
    .home h1 {
        font-size: 9vw;
    }

    .home p {
        font-size: 6vw;
    }
}

@media(max-width:320px) {
    .home h1 {
        font-size: 8vw;
    }

    .home p {
        font-size: 6vw;
    }

    h2 {
        font-size: 10vw;
    }

    button>a {
        font-size: 6vw !important;
    }
}